#titulo{
  text-align: center;
}

#secao_h {
    
    margin-bottom: 10px;
}

#secao_ol {
    background-color: #F8BBD0; 
    padding: 20px;
    margin-bottom: 10px;
}

#secao_ol_numerica {
    background-color: #F4C2C2; 
    padding: 20px;
    margin-bottom: 10px;
}

#secao_ol_alfa_minusculo {
    background-color: #E7C8C8; 
    padding: 20px;
    margin-bottom: 10px;
}

#secao_ol_alfa_maiusculo {
    background-color: #F2D1D1; 
    padding: 20px;
    margin-bottom: 10px;
}

#secao_ol_alga_romano_minusculo {
    background-color: #D8A7B1; 
    padding: 20px;
    margin-bottom: 10px;
}

#secao_ol_alga_romano_maiusculo {
    background-color: #E0B2B2; 
    padding: 20px;
    margin-bottom: 10px;
}

.flex{
  flex: 1 1 45%; 
  margin: 10px; 
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border-radius: 5px; 
}


body {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
}